<ion-header>
  <ion-toolbar>
    <ion-title>horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Selecione a linha</ion-label>
    <ion-select>
      <ion-select-option value="Opções1">Opções 1</ion-select-option>
      <ion-select-option value="Opções2">Opções 2</ion-select-option>
      <ion-select-option value="Opções3">Opções 3</ion-select-option>
      <ion-select-option value="Opções4">Opções 4</ion-select-option>
      <ion-select-option value="Opções5">Opções 5</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
