/*ion-content{
    --background: #004AAD;
}
img{
    width: 160px;
    height: 50px;
    margin-top: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    margin-bottom: -20px;
    text-align: center;
    margin-top: 10%;
    color: white;
    font-family: 'Baloo 2', cursive;
    font-size: 24px;
    font-weight: 600;
}
ion-input{
    margin-top: 0;
    border: #D9D9D9 solid;
    border-radius: 5px;
    width: 70%;
    height: 55px;
    margin: 50px 15% 0 15%;
    font-family: 'Baloo 2', cursive;
    text-align: 0;
    --placeholder-color: white;
    --placeholder-opacity: 300px;
    --placeholder-margin: 0 0 0 200px;
    --padding-start: 5px;
}
ion-button{
    margin: 15px 0 5% 15%;
    color: black;
    width: 70%;
    height: 55px;
    background: white;
    border-radius: 5px;
    font-family: 'Baloo 2', cursive;
    font-weight: 900;
    font-size: 18px;
}
a{
    margin: 20% 0 0 26%;
    color: white;
    font-family: 'Baloo 2', cursive;
}
p{
    margin-top: 40px;
    text-align: center;
    color: white;
    font-family: 'Baloo 2', cursive;
}
.senha_login{
    margin-top: 15px;
}
.botao_cadastro{
    margin: -10px 0 0 20%;
    color: black;
    width: 60%;
    height: 55px;
    background: white;
    border-radius: 5px;
    font-family: 'Baloo 2', cursive;
    font-weight: 900;
    font-size: 18px;
}*/

ion-content{
    --background: #004AAD;
    --color: white;

    #body form{

        ion-input{
            --placeholder-color: black;
            --background: white;
            --color: black;
        }
    
         .btn_entrar{
            color: black;
            background: white;
        }

        .link_cadastro {
            color: white;
        }

        .link_cadastro:hover {
            color: lightgray;
        }
    }
}

/*ion-content{
    --background: white;
    --color: black;
    
    #body form{
        ion-input{
            --placeholder-color: black;
            --background: white;
            --color: black;
        }   

        .btn_cadastro{
            color: white;
            background: #004AAD;
        }
    }
}*/

#body{
    font-family: 'Baloo 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 160px;
    height: 50px;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.entrar_login{
    margin: 6vh 0;

    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

ion-input{
    margin: 2.2vh 0;
    width: 70%;
    --padding-start: 4vw;
    --padding-bottom: 2vh;
    --padding-end: 2vw;
    --padding-top: 2vh;

    border-radius: 5px;

    font-size: 16.5px;
}

.paragrafos{
    margin-top: 4vh;
}

p {
    margin: 0;
    padding: 0;
}

.link_cadastro {
    text-decoration: underline;
}

.btn_entrar{
    width: 60%;
    height: 55px;
    margin-top: 5vh;

    border-radius: 5px;

    font-weight: 900;
    font-size: 18px;
    font-family: 'Baloo 2', cursive;
}