<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">

<ion-header>

</ion-header>

<ion-content>

  <img src = "/assets/img_ibus.png">

  <h2 class = "entrar_login">Entrar</h2>

  <ion-input type = "email" placeholder = "E-mail"></ion-input>
  <ion-input type = "password" class = "senha_login" type = "password" placeholder = "Senha"></ion-input>

  <ion-button class = "botao_entrar" href = "home" color = "none">
    Entrar
  </ion-button>

  <a href = "">Esqueceu a senha?</a>

  <p>Não possui uma conta?</p>

  <ion-button class="botao_cadastro" href="cadastro" color="none">
    Cadastrar
  </ion-button>

</ion-content>
