ion-content{
  --background: #004AAD;
  --color: white;
}

ion-icon {
  color: #004AAD;
}

#map{
  width: 100%;
  height: 100%;
}


ion-footer {
  margin: 0;
}
ion-searchbar {
  --background: white;
  --color:black;
  --placeholder-color: black;
  --margin: 20px;
}

