<ion-header>
  <!--<ion-toolbar>
    <ion-title>home_map</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon md="star" ios="star-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/horarios']" color="light">
        <ion-icon md="bus" ios="bus-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-footer>
      <ion-searchbar placeholder="Pesquise"></ion-searchbar>
  </ion-footer>

  <div #map id="map">

  </div>

</ion-content>
