<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="add-circle" ios="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--<ion-item>
    <ion-label>Selecione a linha favorita</ion-label>
    <ion-select>
      <ion-select-option value="Opções1">Opções 1</ion-select-option>
      <ion-select-option value="Opções2">Opções 2</ion-select-option>
      <ion-select-option value="Opções3">Opções 3</ion-select-option>
      <ion-select-option value="Opções4">Opções 4</ion-select-option>
      <ion-select-option value="Opções5">Opções 5</ion-select-option>
    </ion-select>
  </ion-item>-->

  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle>Ônibus</ion-card-subtitle>
            <ion-card-subtitle>Linha</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="3" id="icone">
          <ion-icon name="remove-outline" color="danger" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle>Ônibus</ion-card-subtitle>
            <ion-card-subtitle>Linha</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="3" id="icone">
          <ion-icon name="remove-outline" color="danger" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle>Ônibus</ion-card-subtitle>
            <ion-card-subtitle>Linha</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="3" id="icone">
          <ion-icon name="remove-outline" color="danger" size="large"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>
